.ColorPicker {
  button {
    border: solid black;
    padding: 1em;
    margin: .3em;
    color: white;
  }
  .red {
    background: red;
  }
  .yellow {
    background: yellow;
    color: black;
  }
  .blue {
    background: blue;
  }
}
